.promos_page {
    max-width: 1180px;
    margin: 0 auto;
    margin-bottom: 60px;
    margin-top: 60px;
}

.promos_page h1 {
    font-size: 30px;
    font-weight: 500;
    line-height: 36px;
    text-align: left;
    margin-bottom: 30px;
}

.promo_banner_list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.promo_banner {
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 340px;
    border-radius: 10px;

}


@media only screen and (max-width: 768px) {
    .promo_banner {
        height: 240px;
    }

}