/* 1 секция */
.header__top-bar {
    background-color: #EBFFA380;
}

.header__top-bar-content {
    max-width: 1240px;
    margin: 0 auto;
    padding: 5px 10px 0 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-results-btn {
    display: block;
    width: fit-content;
    margin-bottom: 15px;
    background: none;
    border: none;
    color: #fff;
    background-color: #FF7900;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    padding: 5px 10px;
    border-radius: 10px;
    white-space: nowrap;
}

header .delivery_block {
    display: flex;
    width: fit-content;
    align-items: center;
    gap: 15px;

    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
}

header .delivery_image {
    width: 56px;
}

header .delivery_block b {
    font-weight: 600;
}

.header__app-download {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

    font-size: 13px;
    font-weight: 400;
    line-height: 10px;
    color: #000;
    text-decoration: none;
}

.header__app-download img {
    width: 20px;
}






/* 2 секция */
.header__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
    max-width: 1220px;
    padding: 25px 15px;
    margin: 0 auto;
}

.header__logo__info {
    display: flex;
    gap: 21px;
    align-items: center;
    justify-content: space-between;

    font-size: 13px;
    font-weight: 400;
    line-height: 13px;

    width: 40%;
}

.header__logo__info img {
    min-width: 180px;
    width: 180px;
}

.header__search_and_contacts {
    width: 60%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 17px;
}

.search_block {
    display: flex;
}

.header__search_and_contacts input {
    font-size: 14px;
    height: 27px;
    padding: 5px 10px;
    border: 1.5px solid #FF7900;
    /* border-radius: 10px; */
    border-radius: 10px 0 0 10px;
    /* margin-right: 15px; */
    outline: #EDEDED;
    width: 360px;
}

.header__search_and_contacts button {
    height: 27px;
    width: 70px;
    background: #FF7900;
    border: none;
    /* border-radius: 10px; */
    border-radius: 0 10px 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__search_and_contacts button:hover {
    background: #FF7900;
}

.header__contacts {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 7px;
}

.header__availability,
.header__phone {
    display: block;
}

.header__phone {
    font-size: 13px;
    font-weight: 700;
    line-height: 13px;
}

.header__availability {
    font-size: 10px;
    font-weight: 500;
    line-height: 10px;
    color: #555555;
}

.header__menu {
    display: flex;
    align-items: center;
}

.product_nav_button {
    display: flex;
    gap: 11px;
    align-items: center;
    justify-content: space-between;
    width: fit-content;

    padding: 11px 19px;
    padding-right: 25px;
    border-radius: 10px;
    background-color: #FF7900;

    color: #fff;
    font-size: 15px;
    font-weight: 600;
    line-height: 15px;
    margin-right: 40px;
    cursor: pointer;
}

.product_nav_button img {
    width: 11px;
}



.menu_block_link_ist {
    display: flex;
    gap: 20px;
}

.menu_block_link_ist a {
    font-size: 15px;
    font-weight: 400;
    line-height: 15px;

    text-decoration: none;
    color: #000;
    transition: all 0.3s;
}

.menu_block_link_ist a:hover {
    color: #FF7900;
    transform: scale(1.05);
}









/*3 секция*/
.header__navigation {
    max-width: 1240px;
    padding: 15px 30px;
    border-radius: 10px;
    background-color: #EBFFA380;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__user-section {
    display: flex;
    gap: 8px;
    align-items: center;
}

.header__cart img {
    width: 15px;
}

.header__favorites img,
.header__account-link img {
    width: 20px;
}

.header__account-link {
    display: flex;
    gap: 10px;
    align-items: center;

    width: fit-content;
    margin-right: 10px;

    font-size: 15px;
    font-weight: 400;
    line-height: 13px;
    color: #000;
    text-decoration: none;

    white-space: nowrap;
}


.header__search-button img {
    width: 14px;
}

@media only screen and (max-width: 768px) {

    .search-results-btn {
        display: block;
        width: 100%;
        text-align: center;
    }

    header.header {
        position: fixed;
        top: 0;
        z-index: 99999999;
        box-shadow: 0px 5px 15px 0px #00000017;
        background: #fff;
    }

    body {
        padding-top: 1px;
        margin-top: 70px;
    }

    .header__main {
        padding: 22px;
    }

    .header__logo__info img {
        margin-left: 20px;
        min-width: unset;
    }

    .product_nav_button {
        margin-right: 0px;
    }

    .header__account-link {
        margin-right: 0px;
    }

    .header__cart img {
        width: 14px;
    }


    .header__navigation {
        justify-content: space-between;
        padding: 0 22px;
        background-color: #fff;
    }



    .header__search_and_contacts input {
        width: 140px;
        height: 37px;
        border-width: 2px;
    }

    .header__search_and_contacts button {
        width: 37px;
        height: 30px;
        margin-left: -2px;
        /* height: unset; */
    }

    .header__user-section {
        display: none;
    }

    .pop_search_tags a:nth-child(n+10) {
        display: none;
    }

}

.temp-dn {
    display: none;
}


.like_herb.header__main.mobile_visible {
    /* box-shadow: 0px 5px 15px 0px #0000000D; */
}

.like_herb.header__main {
    gap: 10px;
}

.like_herb .header__logo__info img {
    padding: 0 5px 0 5px;
    margin: 0px;
    min-width: 120px;
}

.like_herb .header__search_and_contacts input {
    height: 30px;
}

.like_herb .header__search_and_contacts input {
    margin: 0px;
    width: 100%;
}

.like_herb a.mobile_links_button svg {
    min-width: 23px;
}

.like_herb .header__cart img {
    width: 20px;
}




/* POPUP */
/* Попап для поиска */
/* Анимация появления (Fade-In) */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Анимация исчезновения (Fade-Out) */
@keyframes fadeOut {
    from {
        opacity: 1;
        transform: translateY(0);
    }

    to {
        opacity: 0;
        transform: translateY(-20px);
    }
}

/* .search-popup.hidden {
    animation: fadeOut 0.3s ease-in forwards;
    opacity: 0;
    visibility: hidden;
} */

/* Стиль для попапа */
.search-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    z-index: 9999;
    overflow-y: auto;
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    animation: fadeIn 0.3s ease-out forwards;
}

.search-popup.hidden_pop {
    animation: fadeOut 0.3s ease-in forwards;
    opacity: 0;
    visibility: hidden;
}

.search-popup-content {
    /* padding: 20px; */
    background-color: #fff;
}

.search-popup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-popup-content-shdow-block {
    box-shadow: 0px 5px 15px 0px #00000017;
    background: #fff;
    padding: 15px 22px;


    position: fixed;
    width: 100%;
    top: 0;
}



.search-pop_content {
    padding: 22px;
    margin-top: 60px;
}

.search-pop_content h3 {
    font-size: 20px;
    font-weight: 500;
    line-height: 23px;
    margin-bottom: 20px;
}

.pop_search_tags {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(1, 1fr);
}

.pop_search_tags a {
    background-color: #F5F5F5;
    border-radius: 5px;
    padding: 10px;
    font-size: 17px;
}

.search-popup-input {
    height: 34px;
    border-width: 2px;
    border: 2px solid #FF7900;
    font-size: 14px;
    width: 100%;
    padding: 5px 10px;
    border-radius: 10px;
}

.close-popup {
    margin-left: 10px;
    background: none;
    border: none;
    color: #FF7900;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    padding: 5px 10px;
    border-radius: 10px;
}

.close-popup:hover {
    background: #FF7900;
    color: #fff
}

.cat_like_items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-bottom: 40px;
}

.cat_like_single {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    font-size: 15px;
    gap: 10px;
    line-height: 17px;
    padding: 10px;
    border-radius: 50px;
    background-color: #f5f5f5;
    justify-content: flex-end;
}

.cat_like_single img {
    width: 30px;
}

.cat_like_single .icon_s {
    font-size: 30px;
    line-height: 30px;
}












@media only screen and (min-width: 768px) {
    .search-popup {
        top: 5%;
        left: 10%;
        width: 80%;
        height: 90%;
        border-radius: 10px;
    }

    .search-popup-content-shdow-block {
        position: unset;
        padding: 22px;
    }

    .search-popup-overlay {
        position: fixed;
        top: 0;
        z-index: 99;
        background: #0000003b;
        height: 100vh;
        width: 100vw;
    }

    .search-popup-header input {
        width: 100%;
    }

    .search-pop_content {
        margin-top: 0px !important;
    }

    .pop_search_tags {
        grid-template-columns: repeat(3, 1fr);
    }

    .inner_search_cats_list {
        max-height: 500px;
    }

}















/* SEARCH */
a.search-result-item {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 15px;
    margin-bottom: 20px;
    padding: 5px;
    padding-left: 10px;
    border-radius: 5px;
    transition: all 0.3s;
}

a.search-result-item:hover {
    background: #f7f7f7;
}

a.search-result-item img {
    min-width: 50px;
    border-radius: 5px;
    font-size: 0px;
}

a.search-result-item .search-image-preview {
    min-width: 50px;
    min-height: 50px;
    border-radius: 8px;
    background: #f4f4f4;
    margin-top: 5px;
}

p.sku {
    width: fit-content;
    background: #f4f4f4;
    padding: 1px 10px;
    border-radius: 5px;
    margin-top: 10px;
}

.nothing-found {
    display: inline-block;
    font-size: 15px;
    line-height: 15px;
    width: fit-content;
    color: #e00303;
    padding: 5px 8px;
    border-radius: 5px;
    background-color: #ff00002b;
    opacity: 0;
    animation: fadeIn 0.5s forwards;
    margin-bottom: 20px;
}




/* Плавный переход для высоты и прозрачности */
.inner_search_cats_list {
    /* max-height: 500px; */
    /* Установите максимальную высоту, достаточную для содержимого */
    transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
    overflow: hidden;
    opacity: 1;
}

.inner_search_cats_list.hidden_cats {
    max-height: 0;
    opacity: 0;
}

/* Индикатор загрузки */
.loading-indicator {
    text-align: center;
    padding: 10px 0;
    font-size: 16px;
    color: #555;
    animation: blink 1s infinite;
}

/* Анимация мигания для индикатора загрузки */
@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}


















/* Mobile Menu Styles */
.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 1000;
    visibility: hidden;
}

.mobile-menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.mobile-menu-container {
    position: fixed;
    top: 0;
    left: -100%;
    width: 80%;
    max-width: 300px;
    height: 100%;
    background: white;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    transition: left 0.3s ease;
    overflow-y: auto;
}

.mobile-menu-open {
    visibility: visible;
}

.mobile-menu-open .mobile-menu-overlay {
    opacity: 1;
}

.mobile-menu-open .mobile-menu-container {
    left: 0;
}

.mobile-menu-closing .mobile-menu-container {
    left: -100%;
}

.mobile-menu-closing .mobile-menu-overlay {
    opacity: 0;
}

.mobile-menu-header {
    padding: 10px 20px;
    border-bottom: 1px solid #eee;
    display: flex;
    justify-content: flex-end;


    position: absolute;
    top: 0px;
    width: 100%;
    left: 0;
}

.mobile-menu-close {
    background: none;
    border: none;
    font-size: 24px;
    color: #333;
    cursor: pointer;
    padding: 5px 10px;
}

.mobile-menu-content {
    padding: 20px;
    padding-top: 80px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.mobile-menu-item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
    color: #333;
    font-size: 16px;
}

.mobile-menu-item:last-child {
    border-bottom: none;
}

.mobile_links_button {
    background: none;
    border: none;
    padding-right: 10px;
    cursor: pointer;
}



.menu-info-section {
    color: #333333;
}

.mobile-menu-container .social-media {
    display: flex;
    gap: 12px;
    margin-top: 25px;
}

.mobile-menu-container .social-media img {
    width: 25px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.mobile-menu-container .work_shop_info {
    text-align: left;
    margin-bottom: 20px;
}